@font-face {
  font-family: 'TTLakes-bold';
  src: url(../fonts/TTLakes-Bold.ttf);
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: 'TTLakes-regular';
  src: url(../fonts/TTLakes-Regular.ttf);
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: 'TTLakes-medium';
  src: url(../fonts/TTLakes-Medium.ttf);
}