.list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
        &__item{
            color:black;
            text-decoration: none;
            font-family: 'TTLakes-regular';
            transition: 0.3s;
            padding-left: 24px;
            line-height: 50px;
            font-size: 16px;
        }
        &__item:hover {
            opacity: 0.5;
        }
        &__item_picked{
            color: #7E7E82;
        }
        &__item_picked::before {
            content: ' ';
            border-left: 4px solid #41F6D7;
            border-radius: 20px;
            height: 32px;
            position: absolute;
            transform: translateY(8px) translateX(-21px);
            transition: 0.3s;
        }
}