.swiper{
    &-pagination {
      display: flex; 
      margin: 30px auto;
      justify-content: center; 
     
      &-bullet {
        height: 12px; 
        width: 12px;  
        background: #DDD;  
        border-radius: 50%; 
        margin: 0 6px;
  
          &-active {
            background: #B5B6BC; 
          }
        @media (min-width:  768px) {
          display: none;
        }
    }
  } 

  &-prices {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%; 
  
    &-wrapper {
      display: flex;
      padding-left: 16px;
      flex-direction: row;
    }
    &-slider-image {
      margin-left: 16px;
      position: relative;
      top: -5px;
    }
    @media (min-width: 768px) {
      display: none;
    }
  
  }}

.slider{
  &-prices-link{
    color: white;
    font-family: 'TTLakes-Medium';
    text-decoration: none;
    background-color: $button-color;
    width: 119px;
    border-radius: 16px;
    height: 32px;
    position: absolute;
    right: 5px;
    top: 140px;
    text-align: center;
    line-height: 30px;
    transition: 0.3s;
    &:hover{
      transform: scale(1.2);
    }
    &::after{
      content: '';
      background-image: url('../img/dropdown1.svg');
      background-repeat: no-repeat;
      width: 8px;
      height: 12px;
      margin-top: 15px;
      position: absolute;
      top:-4px;
      right: 9px;
    }
    }
}
.swiper-slide{
  border-radius: 6px;
  @media (min-width: 768px) {
    flex-wrap: wrap;
    margin-bottom: 16px;
}
&-prices{
  display: flex;
  flex-direction: column;
  max-width: 240px;
  margin-right: 16px;
  height: 200px;
  padding-top: 16px;
  padding-left: 16px;
  margin-top: 20px;
  background-color: white;
}

&-repair-services,
&-price,
&-time{
  font-family: 'TTLakes-Medium';
  margin-bottom: 10px;
}

&-repair-services{
  &::before{
    content: "Ремонтные услуги";
    display: flex;
    color: $soft-gray;
    margin-bottom: 7px;
  }
}
&-price{
  &::before{
    content: "Цена";
    display: flex;
    color: $soft-gray;
    margin-bottom: 7px;
  }
  }
  &-time{
    &::before{
      content: "Срок";
      display: flex;
      color: $soft-gray;
      margin-bottom: 7px;
    }
    }

&-title{
  font-family: 'TTLakes-Medium';
  align-self: flex-start;
  margin-top: 16px;
  margin-left: 16px;
}
}

  